// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  height: 100%;

}
body {
  height: 100%;
  background-size: cover;
  background-image: asset-url("6.jpg");
}
.login-form-container {
  display: flex;
  align-self: center;
}

.login-form-box {
  display: flex;
  flex-direction: column;
  font-family: Arial;
  margin: auto;
  padding: 20px 20px 40px 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  margin: auto;
  border: none;
  padding: 5px;
}

.login-form * {
  margin: 2px;
  align-self: center;
}

.logo-name {
  color: white;
  font-size: 50px;
  font-weight: 700;
}
.login-submit {
  background-color: #529ECC;
  color: white;
  height: 34px;
  width: 176px;
}

.header-signup {
  display: flex;
  justify-content: space-between;
}

.header-link {
  font-family: Arial;
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.login-signup {
  margin: 10px;
}

.login-signup a{
  border-radius: 2px;
  background-color: white;
  box-sizing: content-box;
  padding: 4px 4px;
  width: 80px;
  text-decoration: none;
  display: block;
  text-align: center;
  color: #444;
  font-family: Arial;
  font-weight: 600;
  font-size: 13px;

}

.guest-login {
  margin: 3px 10px;
  padding: 4px 4px;
  border-radius: 2px;
  background-color: white;
  box-sizing: content-box;
  width: 80px;
  height: 27px;
  font-family: Arial;
  font-weight: 600;
  text-decoration: none;
  font-size: 13px;
  color: #444;
}

.header-button {
  padding: 4px 4px;
  border-radius: 2px;
  background-color: white;
  box-sizing: content-box;
  width: 80px;
  font-family: Arial;
  font-weight: 600;
  text-decoration: none;
  font-size: 13px;
  color: #444;
}

.errors {
  color: white;
}
