.Dashboard {
  padding-top: 92px;
  display: flex;
  justify-content: center;
}
.right-col {
  margin-left: 30px;
  width: 320px;
  height: 750px;
  background: #grey;
  padding-top: -5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: hidden;
}

.recommendations{
  height: 243px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.radar{
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
