.header-signup-unmounted {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-signup-mounted {
  border-bottom: 1px solid #505E72;
  display: flex;
  justify-content: space-between;
}

.parent-div-unmount {
  width: 100%;
  background: none;
}

.header-link {
  font-family: Arial;
  font-size: 32px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  margin: 5px 0 0 20px;
}

.login-signup {
  margin-right: 10px;
  display:flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
}
.logo-search {
  display: flex;
  align-items: center;
  width: 50%;
}

.logout-button-container {
  align-self: center;
  margin-right: 22px;
}

.login-button-text {
  align-self: center;
  margin: auto;
}

.login-signup a{
  margin: 6px 10px 0 0px;
  padding: 3px 3px;
  border-radius: 2px;
  background-color: white;
  box-sizing: content-box;
  width: 80px;
  height: 27px;
  font-family: Arial;
  font-weight: 600;
  text-decoration: none;
  font-size: 13px;
  color: #444;
  display: flex;
}



.logout-button {
  padding: 3px 3px;
  border-radius: 2px;
  background-color: white;
  box-sizing: content-box;
  width: 80px;
  height: 27px;
  margin-top: 6px;
  font-family: Arial;
  font-weight: 600;
  text-decoration: none;
  font-size: 13px;
  color: #444;
}
.guest-login:hover,
.mini-button:hover,
.logout-button:hover {
  cursor: pointer;
}

.guest-login {
  margin-top: 6px;
  padding: 3px 3px;
  border-radius: 2px;
  background-color: white;
  box-sizing: content-box;
  width: 80px;
  height: 27px;
  font-family: Arial;
  font-weight: 600;
  text-decoration: none;
  font-size: 13px;
  color: #444;
}

.current {
  margin-top: 20px;
}
.search-bar {
  display: flex;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  height: 32px;
  margin: auto 10px;
  width: 100%;
  max-width: 540px;
  border-radius: 3px;
  background: rgba(0, 0, 0, .13);
}


.fa-search {
  font-size: 18px;
  color: #9C9C9C;
  padding: 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: rgba(47, 61, 81, .4);
}

.search-bar-text{
  width: 100%;
  max-width: 540px;
  padding-left: 10px;
  font-family: 'Montserrat';
  border-radius: 3px;
  background: rgba(47, 61, 81, .4);

}
.search-bar-text:focus, .search-bar-text:active {
  background-color: #FFF;
  outline: none;
}

::-webkit-input-placeholder {
  color: #9C9C9C;
}

.parent-div {
  position:fixed;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  background-color: #36465D;
  z-index: 100;
  border-bottom: 1px solid #505E72;
}
