.header-signup {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #505E72;
}

.header-link {
  font-family: Arial;
  font-size: 32px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  margin: 5px 0 0 20px;
}

.login-signup {
  margin: 10px;
  display:flex;
  width: 50%;
  justify-content: flex-end;
}
.logo-search {
  display: flex;
  width: 50%;
}

.logout-button-container {
  align-self: center;
  margin-right: 10px;
}

.login-button-text {
  align-self: center;
  margin: auto;
}

.login-signup a{
  margin: 6px 10px 0 0px;
  padding: 3px 3px;
  border-radius: 2px;
  background-color: white;
  box-sizing: content-box;
  width: 80px;
  height: 27px;
  font-family: Arial;
  font-weight: 600;
  text-decoration: none;
  font-size: 13px;
  color: #444;
  display: flex;
}



.logout-button {
  padding: 3px 3px;
  border-radius: 2px;
  background-color: white;
  box-sizing: content-box;
  width: 80px;
  height: 27px;
  margin-top: 6px;
  font-family: Arial;
  font-weight: 600;
  text-decoration: none;
  font-size: 13px;
  color: #444;
}

.guest-login {
  margin-top: 6px;
  padding: 3px 3px;
  border-radius: 2px;
  background-color: white;
  box-sizing: content-box;
  width: 80px;
  height: 27px;
  font-family: Arial;
  font-weight: 600;
  text-decoration: none;
  font-size: 13px;
  color: #444;
}
.current {
  margin-top: 2px;
}
.search-bar {
  // background-color: #303E50;
  display: flex;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  height: 32px;
  margin: auto 10px;
  width: 100%;
  border-radius: 3px;
  background: rgba(47, 61, 81, .4);
}


.fa {
  // align-self: center;
  font-size: 18px;
  color: #9C9C9C;
  padding: 5px;
  margin-bottom: 1px;
  border-radius: 3px;
  background: rgba(47, 61, 81, .4);
}

.fa-search {
  // background: white;
}

.search-bar-text{
  width: 100%;
  font-family: Helvetica;
  border-radius: 3px;
  background: rgba(47, 61, 81, .4);

}
.search-bar-text:focus, .search-bar-text:active {
  background-color: #FFF;
  outline: none;
}

::-webkit-input-placeholder {
  color: #9C9C9C;
}
