.post {
  background: #FFF;
  width: 540px;
  padding-top: 15px;
  border-radius: 3px;
  margin: 0px 5px 20px 15px;
  font-family: 'Montserrat';
}

.post-header {
  font-family: Arial;
  font-weight: 700;
  display: flex;
  padding: 0px 20px;
  margin: 0px 0px 13px 0px;
}

.indiv-post-title{
  color: #444;
  display: flex;
  padding: 0px 20px;
  margin-bottom: 10px;
  font-size: 36px;
}
.indiv-post-body {
  display: flex;
  padding: 0px 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.li-post {
  display: flex;
  margin-top: -6px;
}

.user-avatar {
  position: sticky;
  top: 118px;
  width: 64px;
  height: 64px;
  margin: 0 5px 20px;
  background-repeat: no-repeat;
}
.user-avatar img {
  max-width: 100%;
  border-radius: 3px;
}

.nav-user-avatar {
  width: 64px;
  height: 64px;
  margin-right: 8px;
  background-repeat: no-repeat;
  border-radius: 3px;

}

.post-footer {
  display: flex;
  justify-content: flex-end;
}

.cog-div {
  height: 25px;
  width: 25px;
  margin: 0 15px 10px;
}
.fa-cog {
font-size: 22px;
color: #8F8F8F;
}
.cog-div *:hover {
  cursor: pointer;
}

.edit_delete_drop {
  width: 128px;
  height: 75px;
  border-radius: 3px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px solid #E6E6E6;
  font-size: 14px;
  font-family: 'Montserrat';
  margin: -3px 0px 0px -50px;
  box-shadow: -1px 2px 5px #444;
  display: none;
}

.cog-div:hover {
  .edit_delete_drop {
    display: flex;
  }
}
.hidden {
  display: none;
}

// .edit_avatar{
//   // border: 1px solid red;
// }
// .edit_profile {
//   height: 20px;
//   position: relative;
//   display: flex;
//   justify-content: center;
//   top: -28px;
// }
.change{
  opacity: 0;
  user-select: none;
}
//
// @-webkit-keyframes changeFade {
//   0%   {
//     opacity: .5;
//    }
//   100% {
//     opacity: 1;
//    }
// }
//
//
// .edit_avatar:hover{
//   cursor: pointer;
// }
// .edit_profile:hover {
//   .change{
//     -webkit-animation: changeFade .2s;
//     opacity: 1;
//   }
// }

.show {
  display: flex;
}

.edit_delete_drop * {
  background: white;
  color: #444;
  height: 100%;
  text-align: left;
  padding-left: 10px;
}
.edit_delete_drop *:hover {
  background: #E7EFF6;
}

.edit-label {
  padding-top: 5px;
}
.delete-label {
  padding-bottom: 5px;
}
