.radar-post {
  width: 300px;
  padding-top: 15px;
  border-radius: 3px;
  margin: 0px 11px 20px 9px;
  font-family: 'Montserrat';
  background: #FFF;
}

.radar-photo {
  width: 300px;
}

.radar-photo img {
  width: 100%;
}
