.follow-feed {
  // border: 1px solid red;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.follow-feed > ul {
  margin: 3px 0 0 0;
}

.follow-feed > ul > li:first-child {
  border-top: solid 2px #505E72;
}
.image-container{
  height: 37px;
  width: 37px;
  display: flex;
  justify-content: center;
}

.radar-img {
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

.radar-img-container{
  display:  flex;
  align-self: center;
  margin-left: 10px;
}
.radar-item {
  align-items: flex-end;
  border-bottom: solid 1px #505E72;
  height: 53px;
  display: flex;
  justify-content: space-between;
}



.radar-username {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12px;
  margin: 0px 0px 5px 10px;
  align-self: center;
}

.follow-button {
  margin-right: 10px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  background: #5E6B7D;
  color: #36465D;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.follow-button:hover {
  background: #64A8D1;
  color: white;
  cursor: pointer;
}
.radar-button-container {
  // display: flex;
  align-self: center;
}

.radar-title {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  color: #687485;
  margin-left: 10px;
}
